<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>我是系统首页</h3>
<hr>
<h4>系统页面</h4>
<ol>
    <li><a href="/login">登录页</a></li>
    <li><a href="/sys_index">系统经理登录成功默认页</a></li>
    <li><a href="/cust_index">客户账号登录成功默认页</a></li>
    <li><a href="/upload">文件上传页</a></li>
    <li><a href="#">设置页面url</a></li>
</ol>
<h4>系统API接口</h4>
<ol>
    <li><a href="#">新增客户信息接口: /add_cust_info</a></li>
    <li><a href="#">查询客户信息接口: /get_cust_list</a></li>
</ol>
</body>
</html>